/*
body {
  background-color: #d8d8d8;
  color: grey;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Panama",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

*/

*,
*::before,
*::after{
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

body{
  padding: 0;
  margin: 0;
  background: #000;
  color: white;
  font-family: "Panama", sans-serif;
  overflow-y: hidden;
}

a{
  text-decoration: none;
}

img {
  width: 100%;
}

.home img{
  width: 100%;
  -webkit-filter: grayscale(100%)
  contrast(100%);
  filter: grayscale(100%)
  contrast(200%)
  brightness(60%);
}

aside{
  position: fixed;
  background: #e8e8e8;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 100%;
  overflow: none;
  z-index: 1;
  text-align: center;
  padding: 0;
}































