/*
body {
  background-color: #d8d8d8;
  color: grey;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Panama",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

*/

*,
*::before,
*::after{
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

body{
  padding: 0;
  margin: 0;
  background: #000;
  color: white;
  font-family: "Panama", sans-serif;
  overflow-y: hidden;
}

a{
  text-decoration: none;
}

img {
  width: 100%;
}

.home img{
  width: 100%;
  -webkit-filter: grayscale(100%)
  contrast(100%);
  filter: grayscale(100%)
  contrast(200%)
  brightness(60%);
}

aside{
  position: fixed;
  background: #888;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 100%;
  overflow: none;
  z-index: 1;
  text-align: center;
  padding: 0;
}

aside img {
  margin-bottom: 100px;
  margin-top: 40px;

}

.material-icons.md-36{
  font-size: 36;
}

aside a{
  display: block;
  padding: 15px 0;
  color: white;
  transition: all 0.35s;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 2px;
}

aside p{
  margin: 0;
  padding: 0;
}

aside a:hover{
  background: #000;
}

aside nav a:nth-child(2){
  background: #000;
}

aside nav a:nth-child(2):hover{
  background: #b2b2b2;
  color: #222;

}

main{
  max-width: 980px;
  background: #000;
  margin-left: 20%;
  padding: 12px 50px 12px 50px
}

header{
  text-align: center;
  letter-spacing: 2px;

}

header h1{
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 4px;

}

header h5{
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 4px;
  color: #b2b2b2;
}


















