---
title: Camille de Oliveira
---
<head>

<link rel="icon" type="image/png" href="/images/monlogo.png" /> 


</head>


<img src="images/logoc.jpg" viewBox="0 0 400 340" class="middleman-logo" aria-labelledby="middleman-logo__title" role="img">
  <title id="middleman-logo__title">Camille</title>



<h1>
  Camille de Oliveira
  <br/>
  Site en construction
</h1>



<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
